body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background:rgba(8, 8, 8, 0.918);
}

.form {
  display: grid;
  place-items: center;
  position: relative;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color:black;
  border-radius: 15px;
}

.form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
  
}

.onlyblack-text {
  text-align: center;
  line-height: 1;
}

.onlyblack-text-1 {
  color: cyan;
  font-weight: 600;
  font-size: 40px;
}

.onlyblack-text-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

.input-area {
  margin-top: 40px;
}

.form-inp{
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid cyan;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: cyan;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

.login-btn {
  margin-top: 20px;
}

.submit-btn {
  display: block;
  width: 100%;
  color: cyan;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid cyan;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.submit-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: cyan;
  color: #161616;
  cursor: pointer;
}

.password {
  text-align: center;
  margin-top: 10px;
}

.password a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}

.registrar {
  color: #868686;
  text-align: center;
  text-decoration: none;

}

.registrar a {
color: cyan;
text-decoration: none;
}